*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav_logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}

/* box2 */

.add_first{
    color: #CCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add_sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add_icon{
    display: flex;
    align-items: center;
}

/* box3 */
.nav_search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height:35px;
    border-radius: 4px;

}
.search_select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search_input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search_icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:rgb(238, 130, 198);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}

.nav_search:hover{
    border: 2px solid rgb(238, 130, 198) ;
}

/* box4 */
span{
    font-size:0.7rem;
}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */
.navcart i{
    font-size: 30px;
}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel{
    height: 40px;
    background-color: rgb(238, 130, 198);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel_ops p{
    display: inline;
    margin-left: 15px;

}

.panel_ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero_section{
    background-image: url("hero_image.jpg");
    height: 250px;
    width: 100%;
    background-size: cover;

}

/* shopping */
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(background.jpg);
}


.box{
    /* border: 2px solid black; */
    height: 250px;
    width: 20%;
    background-color: white;
    margin-top: 1rem;
    margin-left: 0.001rem;
    margin-right:0.001rem;

}
.box1{
    background-image: url(image1.jpg);
}
.box2{
    background-image: url(image2.jpg); 
}
.box3{
    background-image: url(image3.jpg);
}
.box4{
    background-image: url(image4.jpg);
}
.box5{
    background-image: url(box5.jpg);
}
.box6{
    background-image: url(box6.jpg); 
}
.box7{
    background-image: url(box7.jpg);
}
.box8{
    background-image: url(box8.jpg);
}
.box9{
    background-image: url(box9.jpg);
}
.box10{
    background-image: url(box10.jpg); 
}
.box11{
    background-image: url(box11.jpg);
}
.box12{
    background-image: url(box12.jpg);
}


/* foot_panel */
.foot_panel{
    background-color: rgb(238, 130, 198);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 15px;
    border-bottom:0.5px solid #DDDD;
}


.foot_panel2{
    background-color: palevioletred;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDD;
}


ul{
    margin-top: 20px;
}


.foot_panel3{
    background-color:rgb(238, 130, 198);
    color: white;
    border-top:0.5px solid #DDDD;
    height: 30px;
}


p{
    font-size: 0.85rem;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 10px;
    text-align: center;
}

