/* h1{
    color:red
}
p{
    color: rgb(220, 131, 22);
}
button{
    color: cyan;
    background-color: black;
} */
/* div{
    background-color: rgb(167, 167, 244);
} */

/* .heading{
    color: red;

} */
/* OR */
/* h1,h2,h3{
    color:red;
} */
/* button{
    background-color: green;
} */

/* p{
    text-align: center;
    /* text-decoration: line-through; */
    /* text-decoration: overline; */

/* h1{
    text-align: center;
    text-transform: capitalize;
} */

/* p{
    font-family: 'Times New Roman', Times, serif;
} */

/* #outer{
    font-size: 25px;
}
#inner{
    font-size:10px;
} */

/* div{
    height:100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    border: 2px dotted brown;
    padding-left:25px; 
} */

/* *{
    padding:0;
    margin:0;
    color: black;
}
#navbar{
    height:60px;
    background-color:violet;
}
button{
    background-color:yellow;
}
#logo{
    color: yellow;
    font-size: 25px;
}
a{
    margin-right: 190px;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px dotted black;
    display: inline-block;
}

footer{
    background-color: #0f1111;
    color: wheat;
    text-align: center;
}
  */


/* #box1{
    height:100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
} */
/* #box2{ */
    /* height: 50px; */
    /* according to parent width */
    /* width: 30%;  */
    /* background-color: yellow; */
    /* margin-left: 10%; */
    /* font-size:2em; */
    /* width: 5em; */
/* }  */


/* div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border:2px dotted ;
    display: inline-block;
    
} */
/* #box1{
    position: static;
} */
/* #box2{
    position:relative;
    /* top:20px;
    left: 10px;  */
    /* z-index: 1; */
/* } */ 
/* #box3{
    position: absolute;
    z-index: 3;
    /* top:10px;
    left: 10px; */
/* } */ 
/* #box4{
    position: fixed;
    z-index: 1;
    /* right: 10px;
    bottom: 0px;
    width: 100%;    */
/* } */ 

/* div{
    height: 100px;
    width: 100px;
    background-image:url(images.jpeg);
    background-size:cover;
    position: fixed;
    right: 0px;
} */


/* body{
    text-align: center;

}
div{
    height: 50px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;

}

#container{
    width: 400px;
    height: 200px;
    display:flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* flex-wrap:wrap; */
 /* } */ 

/* #box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: yellow;
}
#box4{
    background-color: yellowgreen;
}
#box5{
    background-color: coral; */
/* }  */


/* .navbar{
    background-color: pink;
    display:flex;
    justify-content:space-evenly;

} */
/* a{
    text-decoration: none;
    color: black;   
     text-transform: none;
} */
/* li{
    list-style-type:none;
    display: inline;
} */

/* .outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    justify-items: center;
    align-content: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
} */

/* div{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}
@media(width:600px) {
    div{
        background-color: red;
    }
} */
/* min-width
max-width */

div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black; 
}

